.card-hand{
    max-width: 90px;
    min-width: 90px;
    min-height: 120px;
    max-height: 120px;
    border: 1px solid greenyellow;
    padding: 1.5px;
    position: relative;
}

.card-img{
    max-width: inherit;
    min-width: inherit;
    max-height: inherit;
    min-height: inherit;
}

.card-power{
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 9px;
    border-radius: 50%;
    background-color: gold;
    color: red;
}

.card-dragging{
    display: none;
}

.card-location{
    display: none;
}

.card-cost{
    position: absolute;
    top: -10px;
    right: 50px;
    padding: 5px 9px;
    border-radius: 50%;
    background-color: rgb(141, 54, 141);
    color: beige;
}

.card-inside-location{
    max-width: 65px;
    min-width: 65px;
    min-height: 85px;
    max-height: 85px;
    border: 1px solid rgb(245, 233, 219);

    position: relative;
}
