.card-hand{
    max-width: 70px;
    min-width: 70px;
    min-height: 100px;
    max-height: 100px;
    border: 1px solid greenyellow;
    padding: 1.5px;
    position: relative;
}

.card-img{
    max-width: inherit;
    min-width: inherit;
    max-height: inherit;
    min-height: inherit;
}

.card-power{
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 9px;
    border-radius: 50%;
    background-color: gold;
    color: red;
}

.card-dragging{
    display: none;
}
