.card-colle-info{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid navy;
    background-color: white;
    width: 325px;
    height: 450px;
    margin: 0;
    z-index: 99;
}

.card-colle-info.active{
    transform: translate(-50%, -50%) scale(1);
}

.card-colle-cost{
    position: absolute;
    bottom: -45px;
    right: 125px;
    padding: 5px 9px;
    color: beige;
}

.card-colle-power{
    position: absolute;
    bottom: -80px;
    right: 125px;
    padding: 5px 9px;
    border-radius: 10px;
    color: red;
}

.card-colle-info-build{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid navy;
    background-color: white;
    width: 325px;
    height: 450px;
    margin: 0;
    z-index: 99;
}

.card-colle-info-build.active{
    transform: translate(-50%, -50%) scale(1);
}

.card-colle-cost-build{
    position: absolute;
    bottom: -45px;
    right: 150px;
    padding: 5px 9px;
    color: beige;
}

.card-colle-power-build{
    position: absolute;
    bottom: -80px;
    right: 150px;
    padding: 5px 9px;
    border-radius: 10px;
    color: red;
}