.board-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    width: inherit;
}

.snap-btn{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: purple;
}

.opp-info{
    display: flex;
    flex-direction: column;
    width: inherit;
    justify-content: center;
    align-items: center;
}

.player-info{
    display: flex;
    flex-direction: column;
}

.user-btns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    width: inherit;
}

.end-turn-btn{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid pink;
    color: rgb(15, 15, 24);
    background-color: rgb(221, 72, 221);
    font-size: large;
    font-weight: bold;
}

.retreat-btn{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: inherit;
    height: 25px;
}

.no-retreat-btn{
    height: 25px;
}

.bottom-right-buddy{
    border: 1px solid red;
    border-radius: 9px;
    background: none;
    color: red;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.bottom-right-buddy:hover{
    border: 1px solid rgb(214, 4, 4);
    background-color: red;
    color: white;
    cursor: pointer;
}

.extra-space-top{
    height: 10px;
    width: inherit;
}

.extra-space-bottom{
    height: 60px;
    width: inherit;
}

.game-info-close-btn{
    border: none;
    background: none;
    border-radius: 50%;
    cursor: pointer;
    height: 15px;
    width: 15px;
    font-size: large;
}

.game-info-close-btn:hover{
    color: red;
}

.board-game-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
}

.game-info-close-top{
    display: flex;
    flex-direction: column;
    height: 160px;
}

.menu-icon{
    color: #0b1423;
}

.menu-icon:hover{
    color: #4179d3;
}

.menu-btn{
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}