.main-location{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    max-height: 480px;
    min-height: 480px;
    max-width: 215px;
    min-width: 215px;
}

.location-top{
    max-height: 180px;
    min-height: 180px;
    max-width: 150px;
    min-width: 150px;
    background-color: grey;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

.location-mid{
    max-height: 115px;
    min-height: 115px;
    max-width: 200px;
    min-width: 200px;
    background-color: green;
    position: relative;
}

.location-bottom{
    max-height: 180px;
    min-height: 180px;
    max-width: 150px;
    min-width: 150px;
    background-color: grey;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 75px 75px;
    grid-template-rows: 92px;
}

.location-bottom-active{
    max-height: 180px;
    min-height: 180px;
    max-width: 150px;
    min-width: 150px;
    background-color: grey;
    border: 1px solid grey;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 75px 75px;
    grid-template-rows: 92px;
}

.opp-power{
    position: absolute;
    top: -10px;
    right: 95px;
    padding: 5px 9px;
    border-radius: 50%;
    background-color: gold;
    color: red;
}

.user-power{
    position: absolute;
    bottom: -10px;
    right: 95px;
    padding: 5px 9px;
    border-radius: 50%;
    background-color: gold;
    color: red;
}

.locationImg{
    max-height: 115px;
    min-height: 115px;
    max-width: 200px;
    min-width: 200px;
}