.card-back{
    max-width: 65px;
    min-width: 65px;
    min-height: 85px;
    max-height: 85px;
    border: 1px solid rgb(245, 233, 219);
    background-color: red;
    position: relative;
}

.flipped-card-front{
    max-width: 65px;
    min-width: 65px;
    min-height: 85px;
    max-height: 85px;
    border: 1px solid rgb(245, 233, 219);
    background-color: plum;
    position: relative;
}